<div class="container d-flex">
    <div class="container d-flex flex-column w-50">
        <div class="container mt-5 mx-3">
            <h1 class="fs-4 fw-semibold mt-3 hover">
                <p>Welcome to our eLearning platform!</p>
            </h1>
            <p>
                At Quellify , we believe that education has the power to transform lives.
                With
                the rapid advancements in
                technology, we recognize the need to provide innovative and accessible
                learning
                solutions for
                individuals
                across the globe. Our mission is to make high-quality education solutions
                available to everyone,
                anytime,
                and anywhere.
            </p>
            <p>
                Join us today and embark on a transformative learning journey. Together,
                let's
                unlock your full
                potential
                and embrace the boundless opportunities that eLearning has to offer.
            </p>
        </div>
        <div class="container d-flex my-5">
            <div class="container ">
                <h1 class="fs-4 fw-semibold hover">
                    <u>
                        Our Mission
                    </u>
                </h1>
                Our mission is to help students finding a straigth forward path toward their
                goal and make resources
                required for learning available to everyone.
            </div>
            <div class="container mx-3">
                <h1 class="fs-4 fw-semibold hover">
                    <u>
                        Our Vision
                    </u>
                </h1>
                Our vision is to bridge the skill-gap and equip learners with the knowledge
                and
                abilities necessary to
                thrive in an ever-changing world.
            </div>
        </div>
    </div>
    <img src="{{ url_for('static', filename='/images/aboutUs.jpeg') }}" class="rounded-5 w-50" />
</div>