<div class="mt-5 container d-flex">
    <div class="container my-auto" style="width: 35%;">
        <h1 class="fw-bold" style="font-size: 80px; width: 90%;">
            Meet The Team
        </h1>
        <p class="fs-5">
            We are a team of passionate people whose goal is to improve everyone's life
            through
            disruptive products. We
            build great products to solve your business problems.
        </p>
    </div>
    <div class="container d-flex " style="width: 65%;">
        <div class="card mx-auto mt-3 container shadow-lg" style="width: 45%;">
            <img src="{{ url_for('static', filename='/images/tejus.jpg') }}"
                class="mx-auto w-75 rounded-circle m-3">
            <div class="card-body container d-flex flex-column">
                <h1 class="mx-auto fs-2">
                    Tejus Gupta
                </h1>
                <p class="mx-auto fs-5 text-primary">
                    Technical Lead
                </p>
                <a href="https://tejus3131.github.io/" class="btn btn-outline-primary" target="_blank">
                    View Member
                </a>
            </div>
        </div>
        <div class="card mx-auto mt-3 container shadow" style="width: 45%;">
            <img src="{{ url_for('static', filename='/images/abhishek.png') }}"
                class="mx-auto w-75 rounded-circle m-3">
            <div class="card-body container d-flex flex-column">
                <h1 class="mx-auto fs-2">
                    Abhishek Panwar
                </h1>
                <p class="mx-auto fs-5 text-primary">
                    Creative Lead
                </p>
                <a href="https://abhishek2001panwar.github.io/" class="btn btn-outline-primary"
                    target="_blank">
                    View Member
                </a>
            </div>
        </div>
    </div>
</div>