<section id="team_section">
    <div class="team">
        <h1>Our<span>Team</span></h1>
        <div class="team_box">
            <div class="profile">
                <img class="hover" src="{{ url_for('static', filename='images/abhishek.png' ) }}" alt="team">
                <div class="info">
                    <h2 class="name">Abhishek Panwar</h2>
                    <p class="bio">Frontend Developer</p>
                </div>
            </div>
            <div class="profile">
                <img class="hover" src="{{ url_for('static', filename='images/tejus.jpg' ) }}" alt="team">
                <div class="info">
                    <h2 class="name">Tejus Gupta</h2>
                    <p class="bio">Backend Developer</p>
                </div>
            </div>
            <div class="profile">
                <img class="hover" src="{{ url_for('static', filename='images/nirdesh.jpg' ) }}" alt="team">
                <div class="info">
                    <h2 class="name">Nirdesh Sharma</h2>
                    <p class="bio">Graphics Designer</p>
                </div>
            </div>
            <div class="profile">
                <img class="hover" src="{{ url_for('static', filename='images/dhruv.jpg' ) }}" alt="team">
                <div class="info">
                    <h2 class="name">Dhruv Gupta</h2>
                    <p class="bio">Content Manager</p>
                </div>
            </div>
        </div>
    </div>
</section>